<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="10" android:versionName="1.3.4" package="com.google.android.inputmethod.pinyin"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" />
    <uses-sdk android:minSdkVersion="3" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <application android:label="@string/ime_name" android:icon="@drawable/app_icon">
        <service android:name=".DecoderService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.inputmethod.pinyin.Decoder" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:label="@string/ime_name" android:name=".PinyinIME" android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
        <activity android:label="@string/ime_settings_activity_name" android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:label="@string/setting_title" android:name=".AdvancedSettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.inputmethod.pinyin.ADV_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:label="@string/account_title" android:name=".AccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <receiver android:name=".BroadcastMonitor">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".DataService" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:name=".GooglePinyinImeTutorialActivity">
            <intent-filter>
                <action android:name="com.google.android.inputmethod.pinyin.tutorial" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>